<h1>Vibrant.js</h1>

{{test-vibrant-example url="vibrant/examples/1.jpg" id="example-1"}}

{{test-vibrant-example url="vibrant/examples/2.jpg" id="example-2"}}

{{test-vibrant-example url="vibrant/examples/3.jpg" id="example-3"}}
